<footer class="footer">
  <div class="container">
    footer
    <div>
      <i class="icon-facebook"></i>
      <i class="icon-instagram"></i>
      <i class="icon-phone"></i>
      <i class="icon-skype"></i>
      <i class="icon-whatsapp"></i>
      <svg class="svg-email" aria-label="email">
        <use xlink:href="./assets/images/sprite.svg#icon-email"></use>
      </svg>
      <svg class="svg-logo" aria-label="logo">
        <use xlink:href="./assets/images/sprite.svg#icon-logo-dent"></use>
      </svg>
    </div>
  </div>
</footer>
