.btn {
  display: inline-block;
  padding: 20px 90px;
  max-width: 272px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid --violet-bg;
  border-radius: 16px;

  color: var(--white-bg);
  background-color: var(--violet-bg);

/*   transition: color var(--fast) linear, background-color var(--fast) linear,
    border var(--fast) linear; */

  &:hover,
  &:focus {
    color: var(--accent-cl);
    border: 1px solid var(--green-bg);
    background-color: var(--green-bg);
  }

  @include mq(tablet) {
    padding: 20px 42px;
    max-width: 176px;
  }
}
