.btn {
  display: inline-block;
  padding: 20px 90px;
  max-width: 272px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 16px;
  color: var(--accent-txt-cl);
  background-color: var(--normal-bg);
  &:hover,
  &:focus {
    background-color: var(--hover-bg);
  }
  &:active {
    background-color: var(--active-bg);
  }

  @include mq(tablet) {
    padding: 20px 42px;
    max-width: 176px;
  }
}
.btn-form {
  display: inline-block;
  padding: 20px 78px;
  max-width: 248px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 16px;
  color: var(--accent-txt-cl);
  background-color: var(--normal-bg);
  &:hover,
  &:focus {
    background-color: var(--hover-bg);
  }
  &:active {
    background-color: var(--active-bg);
  }

  @include mq(tablet) {
    padding: 20px 42px;
    max-width: 176px;
  }
}

.slider__btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: var(--main-shadow);
  position: absolute;
  background-color: var(--accent-txt-cl);
  z-index: 100;

  transition: background-color var(--fast) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--normal-bg);
  }

  &:hover .our-team__next-icon,
  &:focus .our-team__next-icon {
    stroke: white;
  }
}
