.nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;

  .nav__logo-icon {
    
    @include mq(tablet) {
      display: block;
      width: 104px;
      height: 32px;
    }
  }

  .nav-list {
    display: none;

    @include mq(desktop) {
      display: flex;
    }
  }

  .nav-list__item {
    font-size: 16px;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 15px;
      bottom: -5px;
      left: 0;
      background-color: var(--hover-bg);
      transform-origin: bottom left;
      transition: all var(--transition-timing-function) 300ms;

      transform: scaleX(0);
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }

  .nav-list__item:not(:first-child) {
    margin-left: 60px;
  }

  .nav__btn-wrapper {
    display: flex;
    align-items: center;
  }

  .nav__btn {
    display: none;

    @include mq(tablet) {
      display: block;
      padding: 11.5px 16.5px;
      border-radius: 12px;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }

  .nav__burger {
    position: relative;
    width: 20px;
    height: 14px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 201;

    @include mq(tablet) {
      margin-left: 24px;
    }
    @include mq(desktop) {
      display: none;
    }

    .nav__burger-bar:not(:last-child) {
      display: inline-block;
    }
  }

  .nav__burger-bar {
    background-color: var(--primary-txt-cl);
    height: 2px;
    width: 20px;
    border-radius: 5px;
    display: block;
    position: absolute;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .nav__burger span:nth-child(1) {
    top: 0px;
  }

  .nav__burger span:nth-child(2) {
    top: 5px;
  }

  .nav__burger span:nth-child(3) {
    top: 10px;
  }

  .nav__burger-opened {
    .nav__burger-bar:nth-child(1) {
      width: 15.25px;
      top: 5px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    .nav__burger-bar:nth-child(2) {
      width: 15.25px;
      opacity: 0;
      left: -20px;
    }

    .nav__burger-bar:nth-child(3) {
      width: 15.25px;
      top: 5px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}
