.header {
  padding: 12px 0 16px;

  @include mq(tablet) {
    padding-top: 20px;
  }
  /* &__container {
    display: flex;
    align-items: center;
    @include mq(mobile-only) {
      justify-content: space-between;
    }
  } */
}
