.about-info {
  @include mq(mobile-only) {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__list {
    @include mq(tablet) {
      display: flex;
      justify-content: center;
    }
  }

  &__list-item {
    white-space: nowrap;
    @include mq(mobile-only) {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    @include mq(tablet) {
      text-align: center;
      min-width: 152px;
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
    @include mq(tablet-only) {
      min-width: 152px;
    }
    @include mq(desktop) {
      min-width: 280px;
    }
  }

  &__block-counter {
    @include mq(mobile-only) {
      margin-bottom: 8px;
    }
    @include mq(tablet-only) {
      margin-bottom: 16px;
    }
    @include mq(desktop) {
      margin-bottom: 20px;
    }
  }

  &__counter {
    font-weight: 700;
    @include mq(mobile-only) {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.71;
    }
    @include mq(tablet-only) {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.37;
    }
    @include mq(desktop) {
      font-size: 64px;
      line-height: 0.85;
    }
  }
  &__span {
    font-weight: 600;
    color: var(--secondary-txt-cl);
    @include mq(mobile-only) {
      line-height: 1.71;
    }
    @include mq(tablet-only) {
      line-height: 1.71;
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
.counter-info::after {
  content: '+';
  color: var(--normal-bg);
}
