<section class="about-info" id="about-info">
  <div class="container">
    <ul class="about-info__list">
      <li class="about-info__list-item">
        <div class="about-info__block-counter">
          <span data-counter class="about-info__counter counter-info">1784</span>
        </div>
        <div>
          <span class="about-info__span">Happy Patients</span>
        </div>
      </li>
      <li class="about-info__list-item">
        <div class="about-info__block-counter">
          <span data-counter class="about-info__counter counter-info">708</span>
        </div>
        <div>
          <span class="about-info__span">Online Appointments</span>
        </div>
      </li>
      <li class="about-info__list-item">
        <div class="about-info__block-counter">
          <span data-counter class="about-info__counter counter-info">7</span>
        </div>
        <div>
          <span class="about-info__span">Year Of Experience</span>
        </div>
      </li>
      <li class="about-info__list-item">
        <div class="about-info__block-counter">
          <span data-counter class="about-info__counter counter-info">30</span>
        </div>
        <div>
          <span class="about-info__span">Clients Every Day</span>
        </div>
      </li>
    </ul>
  </div>
</section>
