<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__map"></div>
    <div class="container booking__container">
      <div class="booking__form">{% include 'components/form.html' %}</div>
    </div>
    <span class="contacts__before-title">Contacts</span>
    <h2 class="contacts__title">Contact Us</h2>
    <ul class="contacts__list">
      <li class="contacts__item" data-social>
        <button type="button" class="contacts__box-icon" aria-label="Phone">
          <svg class="contacts__svg-icon">
            <use xlink:href="./assets/images/sprite.svg#icon-phone"></use>
          </svg>
        </button>
        <div class="contacts__block-wrapper">
          <span class="contacts__span">Phone Number</span>
          <span class="contacts__subtitle">+44 20 7407 1668</span>
        </div>
      </li>
      <li class="contacts__item" data-social>
        <button type="button" class="contacts__box-icon" aria-label="Email">
          <svg class="contacts__svg-email">
            <use xlink:href="./assets/images/sprite.svg#icon-email"></use>
          </svg>
        </button>
        <div class="contacts__block-wrapper">
          <span class="contacts__span">Email</span>
          <span class="contacts__subtitle">info@yourdomain.com</span>
        </div>
      </li>
      <li class="contacts__item" data-social>
        <button type="button" class="contacts__box-icon button-navigator" aria-label="Navigator">
          <svg class="contacts__svg-icon">
            <use xlink:href="./assets/images/sprite.svg#icon-navigate2"></use>
          </svg>
        </button>
        <div class="contacts__block-wrapper">
          <span class="contacts__span">London</span>
          <span class="contacts__subtitle">401 Broadway</span>
        </div>
      </li>
      <li class="contacts__item" data-social>
        <button type="button" class="contacts__box-icon" aria-label="Opening Hours">
          <svg class="contacts__svg-time">
            <use xlink:href="./assets/images/sprite.svg#icon-time"></use>
          </svg>
        </button>
        <div class="contacts__block-wrapper">
          <span class="contacts__span">Opening Hours</span>
          <span class="contacts__subtitle">Mon-Sun: 9 a.m.- 8 p.m.</span>
        </div>
      </li>
    </ul>
  </div>
</section>
