<section class="our-reviews section" id="reviews">
  <div class="our-reviews__container container">
    <span class="our-team__undertitle">Our reviews</span>
    <h2 class="our-team__title">What our Clients Says</h2>
  
    <div class="our-reviews__slider-wrapper">
      <button class="our-reviews__next slider__btn" aria-label="next slide">
        <svg class="our-team__next-icon" width="16" height="16">
          <use href="./assets/images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="our-reviews__prev slider__btn" aria-label="previous slide">
        <svg class="our-team__next-icon" width="16" height="16">
          <use href="./assets/images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <div class="our-reviews__slider">
        <div class="our-reviews__slide">
          <div>
            <div class="our-reviews__stars-wrapper">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
            </div>
            <p class="our-reviews__text">
              “Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.
            </p>
            <div class="our-reviews__info-wrapper">
              <picture>
                <source
                  srcset="
                    ./assets/images/our-reviews/sabo-masties.webp    1x,
                    ./assets/images/our-reviews/sabo-masties@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./assets/images/our-reviews/sabo-masties.png    1x,
                    ./assets/images/our-reviews/sabo-masties@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  width="50"
                  height="50"
                  class="our-reviews__img"
                  src="./assets/images/our-reviews/sabo-masties.png"
                  alt="Sabo Masties"
                  loading="lazy"
                />
              </picture>
              <div class="our-reviews__text-block">
                <p class="our-reviews__name">Sabo Masties</p>
                <p class="our-reviews__mail">Founder @ Rolex</p>
              </div>
            </div>
          </div>
        </div>
        <div class="our-reviews__slide">
          <div class="our-reviews__stars-wrapper">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <p class="our-reviews__text">
            “Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.
          </p>
          <div class="our-reviews__info-wrapper">
            <picture>
              <source
                srcset="
                  ./assets/images/our-reviews/musharof.webp    1x,
                  ./assets/images/our-reviews/musharof@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/our-reviews/musharof.png    1x,
                  ./assets/images/our-reviews/musharof@2x.png 2x
                "
                type="image/png"
              />
              <img
                width="50"
                height="50"
                class="our-reviews__img"
                src="./assets/images/our-reviews/musharof.png"
                alt="Musharof Chowdhury"
                loading="lazy"
              />
            </picture>
            <div class="our-reviews__text-block">
              <p class="our-reviews__name">Musharof Chowdhury</p>
              <p class="our-reviews__mail">Founder @ Ayro UI</p>
            </div>
          </div>
        </div>
        <div class="our-reviews__slide">
          <div class="our-reviews__stars-wrapper">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <p class="our-reviews__text">
            “Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.
          </p>
          <div class="our-reviews__info-wrapper">
            <picture>
              <source
                srcset="
                  ./assets/images/our-reviews/william.webp    1x,
                  ./assets/images/our-reviews/william@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/our-reviews/william.png    1x,
                  ./assets/images/our-reviews/william@2x.png 2x
                "
                type="image/png"
              />
              <img
                width="50"
                height="50"
                class="our-reviews__img"
                src="./assets/images/our-reviews/william.png"
                alt="Musharof Chowdhury"
                loading="lazy"
              />
            </picture>
            <div class="our-reviews__text-block">
              <p class="our-reviews__name">William Smith</p>
              <p class="our-reviews__mail">Founder @ Trorex</p>
            </div>
          </div>
        </div>
        <div class="our-reviews__slide">
          <div class="our-reviews__stars-wrapper">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <p class="our-reviews__text">
            “Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.
          </p>
          <div class="our-reviews__info-wrapper">
            <picture>
              <source
                srcset="
                  ./assets/images/our-reviews/sabo-masties.webp    1x,
                  ./assets/images/our-reviews/sabo-masties@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/our-reviews/sabo-masties.png    1x,
                  ./assets/images/our-reviews/sabo-masties@2x.png 2x
                "
                type="image/png"
              />
              <img
                width="50"
                height="50"
                class="our-reviews__img"
                src="./assets/images/our-reviews/sabo-masties.png"
                alt="Sabo Masties"
                loading="lazy"
              />
            </picture>
            <div class="our-reviews__text-block">
              <p class="our-reviews__name">Sabo Masties</p>
              <p class="our-reviews__mail">Founder @ Rolex</p>
            </div>
          </div>
        </div>
        <div class="our-reviews__slide">
          <div class="our-reviews__stars-wrapper">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <p class="our-reviews__text">
            “Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.
          </p>
          <div class="our-reviews__info-wrapper">
            <picture>
              <source
                srcset="
                  ./assets/images/our-reviews/musharof.webp    1x,
                  ./assets/images/our-reviews/musharof@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/our-reviews/musharof.png    1x,
                  ./assets/images/our-reviews/musharof@2x.png 2x
                "
                type="image/png"
              />
              <img
                width="50"
                height="50"
                class="our-reviews__img"
                src="./assets/images/our-reviews/musharof.png"
                alt="Musharof Chowdhury"
                loading="lazy"
              />
            </picture>
            <div class="our-reviews__text-block">
              <p class="our-reviews__name">Musharof Chowdhury</p>
              <p class="our-reviews__mail">Founder @ Ayro UI</p>
            </div>
          </div>
        </div>
        <div class="our-reviews__slide">
          <div class="our-reviews__stars-wrapper">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <p class="our-reviews__text">
            “Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.
          </p>
          <div class="our-reviews__info-wrapper">
            <picture>
              <source
                srcset="
                  ./assets/images/our-reviews/william.webp    1x,
                  ./assets/images/our-reviews/william@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/our-reviews/william.png    1x,
                  ./assets/images/our-reviews/william@2x.png 2x
                "
                type="image/png"
              />
              <img
                width="50"
                height="50"
                class="our-reviews__img"
                src="./assets/images/our-reviews/william.png"
                alt="Musharof Chowdhury"
                loading="lazy"
              />
            </picture>
            <div class="our-reviews__text-block">
              <p class="our-reviews__name">William Smith</p>
              <p class="our-reviews__mail">Founder @ Trorex</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
