<form action="#" class="form" id="form" name="form" enctype="multipart/form-data">
  <div id="form-content" class="form-content">
    <div class="form__block-top">
      <h2 class="form__block-title">Book an appointment</h2>
    </div>
    <div class="form__menu">
      <div class="form__line">
        <input
          class="form__input"
          id="name"
          name="name"
          type="text"
          placeholder=" "
          maxlength="30"
          data-reg="^[a-zA-Z][a-zA-Z-\s]{1,29}$"
        />
        <label class="form__label form__label--name" for="name">Full Name*</label>
        <p class="form__error">Name is required</p>
      </div>
      <div class="form__line">
        <input
          class="form__input"
          id="email-book"
          name="email"
          type="text"
          placeholder=" "
          maxlength="63"
          data-reg="^(?![.-])[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}$"
        />
        <label class="form__label form__label--email" for="email-book">Email*</label>
        <p class="form__error">Email is invalid</p>
      </div>
      <div class="form__line">
        <input
          class="form__input"
          id="phone"
          name="phone"
          type="tel"
          placeholder=" "
          data-reg="\+?\d{6}"
        />
        <label class="form__label form__label--phone" for="phone">Phone*</label>
        <p class="form__error">Number in format +44 YYYY XXXXXX</p>
      </div>
    </div>
    <div class="form__box">
      <button type="submit" class="btn-form form__button" aria-label="send-request">
        <span>Book now</span>
      </button>
    </div>
  </div>
  <div id="form-success" class="form-success is-hidden">
    <span class="form-success__text"
      >Sent!<br />
      We will call you soon</span
    >
    <button class="form-success__btn" type="button" id="return-form" aria-label="return">
      <svg class="form__svg-icon">
        <use xlink:href="./assets/images/sprite.svg#icon-return"></use>
      </svg>
    </button>
  </div>
</form>
