<div class="mobile-menu-overlay mobile-menu-overlay--is-hidden">
  <div class="mobile-menu" data-menu>
    <div class="container">
      <div class="nav__mobile">
        <ul class="nav__mobile-list">
          <li class="nav__mobile-item">
            <a href="#" class="nav__mobile-link">Home</a>
          </li>
          <li class="nav__mobile-item">
            <a href="#about-us" class="nav__mobile-link">About us</a>
          </li>
          <li class="nav__mobile-item">
            <a href="#services" class="nav__mobile-link">Our services</a>
          </li>
          <li class="nav__mobile-item">
            <a href="#our-team" class="nav__mobile-link">Our Team</a>
          </li>
          <li class="nav__mobile-item">
            <a href="#reviews" class="nav__mobile-link">Reviews</a>
          </li>
          <li class="nav__mobile-item">
            <a href="#contacts" class="nav__mobile-link">Contacts</a>
          </li>
        </ul>
        <button type="button" aria-label="contact us" class="nav__mobile-btn btn" data-book>
          Contact us
        </button>
        <ul class="nav__mobile-contacts-list">
          <li class="nav__mobile-contacts-item">
            <div class="nav__mobile-icon-wrapper">
              <svg class="nav__mobile-icon" height="11" width="11" aria-label="phone">
                <use xlink:href="./assets/images/sprite.svg#icon-phone"></use>
              </svg>
            </div>
            <div class="nav__mobile-number-wrapper">
              <p class="nav__mobile-label">Phone Number</p>
              <p class="nav__mobile-contacts-title">+44 20 7407 1668</p>
            </div>
          </li>
          <li class="nav__mobile-contacts-item">
            <div class="nav__mobile-icon-wrapper">
              <svg class="nav__mobile-icon" height="11" width="11" aria-label="address">
                <use xlink:href="./assets/images/sprite.svg#icon-navigate"></use>
              </svg>
            </div>
            <div class="nav__mobile-address-wrapper">
              <p class="nav__mobile-label">London</p>
              <p class="nav__mobile-contacts-title">401 Broadway</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
