<nav class="nav">
  <div class="nav__logo">
    <a href="/">
      <svg class="nav__logo-icon" width="72" height="22" aria-label="logo">
        <use href="./assets/images/sprite.svg#icon-logo-dent"></use>
      </svg>
    </a>
  </div>
  <ul class="nav-list">
    <li class="nav-list__item"><a href="#">Home</a></li>
    <li class="nav-list__item"><a href="#about-us">About us</a></li>
    <li class="nav-list__item"><a href="#services">Our services</a></li>
    <li class="nav-list__item"><a href="#our-team">Our Team</a></li>
    <li class="nav-list__item"><a href="#reviews">Reviews</a></li>
    <li class="nav-list__item"><a href="#contacts">Contacts</a></li>
  </ul>
  <div class="nav__btn-wrapper">
    <button class="nav__btn btn" aria-label="Contact us" data-book>Contact us</button>
    <button class="nav__burger" aria-label="show-menu" type="button">
      <span class="nav__burger-bar"></span>
      <span class="nav__burger-bar"></span>
      <span class="nav__burger-bar"></span>
    </button>
  </div>
</nav>
